@font-face{
    font-family: Ninja Naruto;
    src: url('../njnaruto.ttf');
}
*{
    margin: 0;
    padding: 0;
}


body {
    background: teal;
    font-family: 'Arial';
    font-size: 14px;
    color: #333;
}


.menu{
    width: 100%;
    height: 50px;
    background-color: #333;
    font-size: 16px;
    font-family: 'Arial';
}
.menu ul{
    list-style: none;
    position: relative;
}
.menu ul li{
    width: 150px;
    float: left;
}
.menu a{
    padding: 16px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #333;
    color: #c5c5c5;
}
.menu ul ul{
    position: absolute;
    visibility: hidden;
}
.menu ul li:hover ul{
    visibility: visible;
}
.menu a:hover{
    background-color: #086ea8;
    color: white;
}
.menu ul ul li{
    float: none;
    border-bottom: solid 1px white;
    position: relative;
    z-index: 9999;
}
.menu a.logo{
    font-size: 20px;
    padding: 13px;
    background-color: #222;
    color: #086ea8;
}
.logo{
    font-family: Ninja Naruto;
    text-decoration: none;
}


label[for=bt_menu]{
    padding: 5px;
    background-color: #333;
    color: #c5c5c5;
    font-family: 'Arial';
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px
}
#bt_menu{
    display: none;
}
label[for=bt_menu]{
    display: none;
}
@media(max-width: 800px){
    label[for=bt_menu]{
        display: block;
    }
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
    .menu{
        margin-top: 1px;
        margin-left: -100%;
        transition: all .4s;
    }
    .menu ul li{
        position:relative;
        z-index: 9999;
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login{
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.forma{
    position: relative;
    z-index: 1;
    background-color: #c5c5c5;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.forma input{
    font-family: Arial;
    outline: 0;
    background: white;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15;
    box-sizing: border-box;
    font-size: 14px;
}
input[type="checkbox"]{
    position: relative;
    margin: 5px;
    width: 22px;
    text-align: left;
    margin-bottom: 20px;
}
.forma input.botão{
    font-family: arial;
    text-transform: uppercase;
    outline: 0;
    background: #333;
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 14px;
    -webkit-trasition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.forma .message{
    font-family: 'Arial';
    margin: 15px 0 0;
    color: #a1a1a1;
    font-size: 12px;
}
.forma .message a{
    font-family: 'Arial'; 
    color: #333;
    text-decoration: none;
}
.container{
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after{
    content: "";
    display: black;
    clear: both;
}
.container .info{
    margin: 50px auto;
    text-align: center;
}
.container .info h1{
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}


#rodape{
    position: relative; 
    bottom: 0;
    height: 100px;
    width: 100%;
    display: block;
    background-color: #333;
}
.rodape1{
    color: #c5c5c5;
    position: relative;
    list-style: none;
    font-family: 'Arial';
    font-size: 18px;
    margin-left: 30px;
}